@import "./src/styles/variables.scss";

#loader {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: $white;
    z-index: 9999;
    top: 0;
    left: 0;
}

#logo {
    #logo-top {
        transition: 0.3s;

        &:hover {
            opacity: 0.5;
            transform: translateX(5px);
        }
    }

    #logo-block {
        position: relative;
        top: 1px;
        height: 18px;
        width: 15px;
        margin-right: 5px;
        background-color: $blue;
        border-radius: 1px;
    }

    #logo-title {
        font-size: 1.4rem;
        font-family: "Barlow", "Roboto", sans-serif;
    }

    #logo-tagline {
        font-family: "Roboto", sans-serif;
        font-size: 60%;

        @media (max-width: 700px) {
            opacity: 1;
            display: none !important;
        }
    }
}
