/*
==============================
    COLORS
==============================
*/

$white: #f6f6f6;
$black: #222;
$grey: #666;
$lightgrey: #bbb;
$lighter-grey: #999;
$off-white: #e6e6e6;
$blue: #225aea;
$darkblue: #1B48BC;
$red: #e31014;
