@import "./src/styles/variables.scss";
@import "./src/styles/mixins.scss";

#desktop-nav,
#mobile-nav {
    padding: 10px 15px;
    max-height: 70px;
    border-bottom: 1px solid;
    border-bottom-color: $lightgrey;

    /*
    =====================
        desktop nav 
    =====================
    */
    #navbar-center {
        width: 90%;
        max-width: 1200px;
    }

    // navbar items
    .underline-center {
        @include underline-center($red);
        padding: 0 !important;
        margin: 0 12px;
    }

    .uk-navbar-nav > li > a {
        min-height: auto;
        color: $black;
        transition: 0.3s;
        font-size: 80%;

        &:hover {
            color: $grey;
        }
    }

    #navProfileButton {
        object-fit: cover;
        height: 40px;
        margin: auto 10px;

        img {
            height: 100%;
            width: auto;

            &:hover {
                outline: 2px dotted $blue;
            }
        }
    }

    .uk-dropdown {
        min-width: 150px;
        padding: 20px 25px;

        li > a {
            color: $grey;
            transition: 0.3s;

            &:hover {
                color: $lighter-grey;
            }
        }
    }

    [class*="uk-align"] {
        margin-bottom: 0;
    }

    /*
    =====================
        mobile nav 
    =====================
    */
    .uk-navbar-toggle {
        min-height: auto;
        margin-top: 2px;
    }

    #logo-tagline {
        font-family: "Roboto", sans-serif;
        font-size: 50%;
    }

    #off-canvas-nav {
        padding-top: 20px;

        .uk-nav-divider {
            margin: 7px auto;
        }

        a {
            color: $white;
            transition: 0.3s;

            &:hover {
                color: $grey;
            }
        }
    }
}
