@import "./src/styles/variables.scss";
@import "./src/styles/mixins.scss";

/*
==================================
    FOOTER
==================================
*/

footer {
    border-top: 1px solid $lightgrey;
    margin-bottom: 50px;
    color: $grey;

    h4 {
        text-transform: uppercase;
        font-size: .7rem !important;
        margin: 15px auto 20px;
        color: $black;

        @media all and (max-width: 960px) {
            margin: 35px 0 25px !important;
        }
    }

    h4:last-of-type {
        margin: 15px auto 20px !important;
        @media all and (max-width: 960px) {
            margin: 35px 0 25px !important;
        }
    }

    p {
        margin: 0;
    }

    .quick-links {

        & li {
            &:not(:last-child) {
                margin-bottom: .4rem;
            }
        }

        &__link:hover {
            color: $black;
        }

        &__link:active,
        &__link:focus {
            color: $black;
            outline: 2px dotted $blue;
            outline-offset: 5px;
        }

        .underline-center {
            @include underline-center($red);
        }
    }

    // dev links
    .dev-links {
        &__link {
            display: inline-block;
            transition: all .3s;
            margin-bottom: 5px;

            &:active,
            &:focus {
                outline: 2px dotted $darkblue;
                outline-offset: 5px;
            }

            &:hover {
                color: $black;
            }

            &:hover  .dev-links__icon {
                transform: scale(1.1) !important;
                transition: all .3s ease;
            }
        }

        &__name {
            padding-right: .5rem;
        }

        &__icon {
            color: $black;
        }
    }
}